.btn {
    padding: var(--btn-padding);
    border-radius: var(--border-radius);
    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}
.notc {
    position: absolute;
    top: .6rem;
    left: 2.4rem;
    padding: .3rem;
    border-radius: 50%;
    font-size: .7rem;
    font-weight: 900;
    color: var(--color-white);
    background: var(--color-danger);
}