.create-input-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: var(--color-white);
    color: var(--color-dark);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
    margin-top: 1rem;
}
.create-input-box__img {
    flex-shrink: 0;
    width: 2rem;
    height: 2rem;
}
.create-input-box__input {
    box-sizing: border-box;
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    font-weight: 600;
    padding: .6rem;
     /* WebKit, Edge */
    &::-webkit-input-placeholder {
        color: var(--color-dark);
    }
    /* Firefox 4-18 */
    &:-moz-placeholder {
        color: var(--color-dark);
        opacity: 1;
    }
    /* Firefox 19+ */
    &::-moz-placeholder {
        color: var(--color-dark);
        opacity: 1;
    }
    /* IE 10-11 */
    &:-ms-input-placeholder {
        color: var(--color-dark);
    }
    /* Edge */
    &::-ms-input-placeholder {
        color: var(--color-dark);
    }
    /* MODERN BROWSER */
    &::placeholder {
        color: var(--color-dark);
    }
    
}
.create-input-box__label {
    padding: .5rem 2rem;
}