@use "../abstracts/mixins" as mix;
.aside-left, .aside-right{
    position: relative;
    width: 100%;
    margin-top: 1.5rem;
}
.aside__btn {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: .6rem;
}
@include mix.large {
    .aside__btn {
        display: none;
    }
}