@use "../abstracts/mixins" as mix;
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: var(--color-dark);
    background: var(--color-white);
    z-index: 8;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--card-padding) 0;
}
.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__link {
    color: var(--color-dark);
    font-size: 1.2rem;
    font-weight: 700;
}
.header__righrt {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
@include mix.medium {
    .header__search-bar {
        display: none;
    }
}
@include mix.x-small {
    .header {
        padding-right: .7rem;
        padding-left: .7rem;
    }
}