@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
html {
    box-sizing: border-box;
    font-size: 16px;
    @include mix.medium {
        font-size: 14px;
    }
    @include mix.x-small {
        font-size: 10px;
    }
}
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color-hue: 252;
    --dark-color: 17%;
    --light-color: 95%;
    --white-color: 100%;
    --color-white: hsl(252, 30%, var(--white-color));
    --color-light: hsl(252, 30%, var(--light-color));
    --color-gray: hsl(var(--primary-color-hue), 15%, 65%);
    --color-primary: hsl(var(--primary-color-hue), 75%, 60%);
    --color-secondary: #{var.$color-secondary};
    --color-success: #{var.$color-success};
    --color-danger: #{var.$color-danger};
    --color-dark: hsl(252, 30%, var(--dark-color));
    --color-black: #{var.$color-black};
    
    --border-radius: #{var.$border-radius};
    --card-border-radius: #{var.$card-border-radius};
    --btn-padding: #{var.$btn-padding};
    --search-padding: #{var.$search-padding};
    --card-padding: #{var.$card-padding};
    
    --sticky-left-left: #{var.$sticky-top-left};
    --sticky-top-right: #{var.$sticky-top-righte};
 
}

body {
    position: relative;
    background: var(--color-light);
    color: var(--color-dark);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
body::-webkit-scrollbar {
  width: .7rem;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: .6rem;
}
 
body::-webkit-scrollbar-thumb {
  background-color: var(--color-dark);
  border-radius: .6rem;
}